@import "tailwindcss";

/* sm:	640px	Small devices (landscape phones)
md:	768px	Tablets
lg:	1024px	Laptops/desktops
xl:	1280px	Large desktops
2xl:	1536px	Very large screens, wide monitors */

@theme {
  --color-primary: #ff3a3a;
  --color-primary-dark: #ff3535;
  --color-red-accent: #f20000;

  ---color-neutral-50: #f8f8f8;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4B5563;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  --font-inter: var(--font-inter);

  --font-gilroy-regular: "Gilroy-Regular";
  --font-gilroy-medium: "Gilroy-Medium";
  --font-gilroy-semibold: "Gilroy-Semibold";
  --font-gilroy-bold: "Gilroy-Bold";

  --font-modulus-semibold: "Modulus-Pro-Semibold";
}

/* Gilroy Font Face */

@font-face {
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
}

/* Modulus Font Face */

@font-face {
  font-family: "Modulus-Pro-Semibold";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Modulus/Modulus-Pro-SemiBold.otf") format("opentype");
}

.container {
  @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-20 xl:px-24;
}

p {
  @apply leading-relaxed;
}

body {
  @apply bg-neutral-50;
}
