@import "tailwindcss";

/* sm:	640px	Small devices (landscape phones)
md:	768px	Tablets
lg:	1024px	Laptops/desktops
xl:	1280px	Large desktops
2xl:	1536px	Very large screens, wide monitors */

@theme {
  --color-primary: #ff3a3a;
  --color-primary-dark: #ff3535;

  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  --font-inter: var(--font-inter);
  --font-gilroy-semibold: "Gilroy-Semibold";
}

@font-face {
  font-family: "Gilroy-Semibold";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Gilroy-Semibold.woff2") format("woff2"),
    url("/fonts/Gilroy-Semibold.woff") format("woff"),
    url("/fonts/Gilroy-Semibold.ttf") format("truetype");
}

.container {
  @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-20 xl:px-24;
}
